bleach
brotlipy
Django~=1.11.0
django-annoying
django-bootstrap3
django-extensions
Faker
psycopg2
shortuuid
spintax
uwsgi
raven
whitenoise
Werkzeug
numpy
sklearn
scipy

# Testing
coverage
django-nose
hypothesis[django]
ipython
