body {
    padding-top: 60px;
}

td.conv-body {
    max-width:800px;
    text-overflow: ellipsis;
}

.classified-mark {
    display: none;
}

td.deleted {
    text-decoration: line-through;
}

.conv-buttons.deleted {
    display: none;
}
