body {
    padding-top: 60px;
    font-size: 16px;
}

td.conv-body {
    max-width:800px;
    text-overflow: ellipsis;
}

.classified-mark {
    margin: auto 10px;
    opacity: 0.0;
}

td.deleted {
    text-decoration: line-through;
}

.conv-buttons.deleted {
    display: none;
}

.conv-buttons .btn-group {
    display: flex;
}

.navbar-nav > li > .dropdown-menu {
	overflow: auto;
	max-height: 30em;
}
