<html>
    <head>
        <title>Spamnesty is in trouble.</title>
    </head>
    <body>
        <h2>There was a server error!</h2>

        <p>
        Unfortunately, there was a server error. This was my fault, not
        yours. There isn't much you can do about it, all you can do is wait for
        me to fix it (I have already been notified) and try again later.
        </p>

        <p>
        If you contact me, please mention this error code:
        {{ request.sentry.id }}
        </p>
    </body>
</html>

