{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ request.site.name }}</h1>
    <p class="lead">Have fun with spam!</p>
</div>

<h2>What is {{ request.site.name }}?</h2>
<p>{{ request.site.name }} is a way to waste spammers' time. If you get a spam
email, simply forward it to <a href="mailto:sp@mnesty.com">sp@mnesty.com</a>,
and {{ request.site.name }} will strip anything that has to do with you, pretend
it's a real person and reply to the email.</p>

<p>That way, the spammer will start talking to a bot, and hopefully waste some
time there instead of spending it on a real victim. Meanwhile,
{{ request.site.name }} will send you an email with a link to the conversation,
so you can watch it unfold live!</p>

<h3>Conversations</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Person</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>

            {% for conversation in conversations %}
            <tr>
                <td><a href="{% url "main:conversation-view" conversation.id %}">The colloquy of {{ conversation.sender_name }}</a></td>
                <td>{{ conversation.message_set.first.subject }}</td>
                <td>{{ conversation.last_message_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
