{% extends "base.html" %}

{% block title %}Conversation classification{% endblock %}

{% block scripts %}
<script>
function classifyConversation(conversation_id, category_id) {
    var data = new FormData();
    if(category_id === null) {
        category_id = jQuery('#conv-id-'+conversation_id+' .category-button').attr('spamcat')
    }
    category_name = jQuery('#conv-id-'+conversation_id+' .cat-'+category_id+' a').text()
    data.append('conversation_id', conversation_id);
    data.append('category_id', category_id);
    data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    var xhr = new XMLHttpRequest();
    xhr.conv_id = conversation_id;
    xhr.open('POST', '{% url "classification:classify" %}', true);
    xhr.onload = function () {
        jQuery('#conv-id-'+this.conv_id).addClass('classified')
        jQuery('#conv-id-'+this.conv_id+' button.category-button').text(category_name)
        jQuery('#conv-id-'+this.conv_id+' .category-button').attr('spamcat', category_id)
    };
    xhr.send(data);
}
function deleteConversation(conversation_id) {
    var data = new FormData();
    data.append('conversation_id', conversation_id);
    data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    var xhr = new XMLHttpRequest();
    xhr.conv_id = conversation_id;
    xhr.open('POST', '{% url "classification:delete" %}', true);
    xhr.onload = function () {
        jQuery('#conv-id-'+this.conv_id+' td').addClass('deleted')
        jQuery('#conv-id-'+this.conv_id+' .conv-buttons').addClass('deleted')
    };
    xhr.send(data);
}

</script>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-12">
        <h2>Classify conversations</h2>
        <p>
        Please select the appropriate category for each conversation. You can
        change a conversation's classifications, but if you reload the page
        after classifying, the conversation won't show up. So, double-check that
        you've picked the correct category before navigating away.
        </p>

        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Message</th>
                <th>Actions</th>
            </tr>

            {% for conversation in conversations %}
            <tr id='conv-id-{{ conversation.id }}'>
                <td class='conv-body'>{{ conversation.messages.first.best_body|linebreaksbr }}</td>
                <td class='conv-buttons'>
                    {% if request.user.is_staff %}
                    <p><a class="btn btn-danger" href="{% url "admin:main_conversation_change" conversation.id %}">Admin</a></p>
                    <p><a class="btn btn-danger" href="#" onclick="deleteConversation('{{ conversation.id }}'); return false;">Delete</a></p>
                    {% endif %}

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary category-button" spamcat="{{ conversation.category_id }}"  onclick="classifyConversation('{{ conversation.id }}', null); return false;">{{ conversation.category }}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle conv-{{ conversation.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Select the category of the spam email</a></li>
                            <li role="separator" class="divider"></li>
                            {% for category in spam_categories %}
                            <li class="cat-{{ category.id }}"><a href="#" onclick="classifyConversation('{{ conversation.id }}', '{{ category.id }}'); return false;">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
